@import "./fontfaces/lato.scss";
@import "./fontfaces/dana.scss";
@import "./mixins.scss";

html {
  font: 16px/25px "Lato", "Dana";
  body {
    overflow-y: scroll;
  }
  a {
    display: block;
    text-decoration: none;
    cursor: pointer;
  }
  * {
    background: none;
    list-style: none;
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    color: inherit;
    flex-wrap: wrap;
    font-family: "Lato", "Dana";
  }

  .Toastify__toast-body {
    direction: rtl;
  }

  .container {
    width: 1150px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 auto;
  }

  .input,
  .select-list {
    background: #f1f2f7;
    width: 200px;
    height: 45px;
    padding: 0 10px 4px;
    line-height: 25px;
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
    border: 2px solid #f1f2f7;
    transition: all ease 0.3s;
    &:focus {
      border-color: rgb(136, 134, 201);
    }
  }
  .select-list {
    background-image: url("./../../assets/images/chevron.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 10px center;
    padding-left: 30px;
    appearance: none;
    cursor: pointer;
    @include textOverflow(100%);
  }

  .button {
    border-radius: 5px;
    padding: 0 10px 4px;
    min-width: 90px;
    display: block;
    cursor: pointer;
    transition: all ease 0.3s;
    text-align: center;
    &.disabled {
      background-color: #cbcbcb !important;
      color: #444444 !important;
      cursor: no-drop;
    }
    &.primary {
      line-height: 35px;
      background: #8300cc;
      color: #fff;
      &:hover {
        background-color: lighten(#8300cc, 10);
      }
    }
    &.danger {
      line-height: 35px;
      background: #de2828;
      color: #fff;
      &:hover {
        background-color: lighten(#de2828, 10);
      }
    }
    &.success {
      line-height: 35px;
      background: #59b300;
      color: #fff;
      &:hover {
        background-color: lighten(#59b300, 10);
      }
    }
  }
}
